<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="home-news-content py-4 px-2 py-sm-5 px-sm-0 mt-0 mb-4">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-2">Репозиторий БГПУ</h1>
          <!--<p><i class="fas fa-circle-info"></i> This site is running DSpace 9. For more information, see the <a href="https://wiki.lyrasis.org/display/DSDOC9x/Release+Notes" role="link" tabindex="0">DSpace 9 Release Notes</a>.</p>-->
          <p class="lead">Добро пожаловать в цифровой архив публикаций преподавателей и сотрудников Белорусского государственного педагогического университета имени Максима Танка.</p>
        </div>
      </div>
      <p>Преподаватели и работники БГПУ могут разместить электронные копии своих материалов (статьи, книги и т.д.) в Репозитории БГПУ. Материалы размещены в Репозитории БГПУ 
        для свободного использования. Допускается копировать, цитировать материалы исключительно в некоммерческих целях с обязательным указанием автора произведения и гиперссылки
         на Репозиторий БГПУ.</p>
      <p>Международный стандартный серийный номер Репозитория БГПУ: <a href="https://portal.issn.org/resource/issn/2518-7902" target="_blank" role="link" tabindex="0">ISSN 2518-7902</a>.</p>
      <p>Members of the staff of BSPU can submit electronic copies of their publications (articles, books, etc.) to the Repository of BSPU. The materials that 
        are placed in the Repository are intended for free use. It is acceptable to copy, cite the materials only for non-commercial purposes with the obligatory indication of the author of the 
        publication and the hyperlink to the Repository of BSPU.</p>
    </div>
  </div>
  <picture class="background-image">
    <source type="image/webp" srcset="assets/dspace/images/banner1.webp 2000w, assets/dspace/images/banner1-half.webp 1200w, assets/dspace/images/banner1-tall.webp 768w">
    <source type="image/jpg" srcset="assets/dspace/images/banner1.jpg 2000w, assets/dspace/images/banner1-half.jpg 1200w, assets/dspace/images/banner1-tall.jpg 768w">
    <img alt="" [src]="'assets/dspace/images/banner1.jpg'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
  <!--<small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">&#64;inspiredimages</a></small>-->
</div>
